*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

img {
  display: inline-block;
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50rem);
            transform: translateX(50rem);
  }
  80% {
    opacity: .4;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes brustOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

body {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  line-height: 1.7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.primary-heading {
  font-size: 4.2rem;
  color: #fff;
  line-height: 1;
}

.sub-heading {
  font-size: 3.5rem;
  color: #31C7B0;
  line-height: 1.2;
  font-weight: 600;
  text-align: center;
}

.description {
  padding-top: 3rem;
  color: #ABD2CB;
  font-size: 1.4rem;
}

.btn:link, .btn:visited {
  display: inline-block;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  color: #178271;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 5rem;
  border-radius: 5rem;
  -webkit-transition: all .2s;
  transition: all .2s;
  /* must always in intial defult state*/
  position: relative;
}

.btn:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: #fff;
  color: #777;
}

.btn--white::after {
  background-color: #fff;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn--animated {
  -webkit-animation: moveInBottom 2s ease-out;
  animation: moveInBottom 2s ease-out;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  -webkit-transform: scaleX(1.2) scaleY(1.5);
          transform: scaleX(1.2) scaleY(1.5);
  /* scale-all direction Multiply size
                                    scaleX means only in X
                                    scaleY means only in Y*/
  opacity: 0;
  /* this means as it transiction from initial 
                        state to scale 1.5 it disappears*/
}

.btn:after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 3rem 3rem 0 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .2s;
  transition: all .2s;
}

header {
  background-color: #13514C;
  overflow: auto;
}

.header {
  background-image: -webkit-gradient(linear, left top, right top, from(#178271), to(#13514C));
  background-image: linear-gradient(90deg, #178271, #13514C);
  margin: 110px 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  margin: 50px;
  display: inline-block;
}

.header__content {
  width: 100%;
  margin: 8rem 0 6.4rem;
}

.header__content--title {
  margin-bottom: 3rem;
  color: #BFFFF5;
  font-size: 2.6rem;
  text-align: center;
}

.header__content--intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -19.5rem;
  -webkit-animation-name: brustOut;
  animation-name: brustOut;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

.introduction {
  max-width: 38rem;
  padding-top: 9rem;
  -webkit-animation-name: moveInRight;
  animation-name: moveInRight;
  -webkit-animation-duration: .8s;
  animation-duration: .8s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

.introduction .hi {
  color: #00FEF4;
  font-size: 1.6rem;
  font-weight: 300;
}

.work {
  background-image: -webkit-gradient(linear, left top, right top, from(#178271), to(#13514C));
  background-image: linear-gradient(90deg, #178271, #13514C);
  position: relative;
  padding: 10rem 22rem;
}

.work .sub-heading {
  color: #fff;
  padding-bottom: 5rem;
}

.work .pop-up {
  position: absolute;
  top: -57px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.work .pop-up .btn:link, .work .pop-up .btn:visited {
  border-radius: 3rem 3rem 0 0;
}

.work__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #13514C;
  padding: 3rem;
}

.work__gallery--image {
  padding-bottom: 4.5rem;
  position: relative;
}

.work__gallery--image:nth-last-child(-n+3) {
  padding-bottom: 0;
}

.work__gallery--image:hover {
  -webkit-filter: blur(1px);
  filter: blur(1px);
}

.work__gallery--image:hover:before {
  content: '\e90a';
  position: absolute;
  font-size: 5rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: 'icomoon' !important;
  color: #13514C;
}

.work__gallery--image img {
  height: 43.6rem;
  width: 43.6rem;
}
/*# sourceMappingURL=style.css.map */