header{
    background-color: $primary-color;
    overflow: auto;
}
.header{
    background-image: linear-gradient(90deg,
    $secondary-color, $primary-color);
    margin: 110px 140px;
    display: flex;
    &__logo{
        margin: 50px;
        display: inline-block;
    }
    &__content{
        width: 100%;
        margin: 8rem 0 6.4rem;
        &--title{
            margin-bottom: 3rem;
            color: #BFFFF5;
            font-size: 2.6rem;
            text-align: center;
        }
        &--intro{
            display: flex;
            justify-content: center;
            margin-left: -19.5rem;
            -webkit-animation-name: brustOut;
                    animation-name: brustOut;
            -webkit-animation-duration: 2s;
                    animation-duration: 2s;
            -webkit-animation-timing-function: ease-out;
                    animation-timing-function: ease-out;
            
        }
    }
}
.introduction{
    max-width: 38rem;
    padding-top: 9rem;
    -webkit-animation-name: moveInRight;
            animation-name: moveInRight;
    -webkit-animation-duration: .8s;
            animation-duration: .8s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    .hi{
        color: #00FEF4;
        font-size: 1.6rem;
        font-weight: 300;
    }
    .secondary-heading{
        text-align: left;
    }
}

.work{
    background-image: linear-gradient(90deg,
    $secondary-color, $primary-color);
    position: relative;
    .sub-heading{
        color: #fff;
        padding-bottom: 5rem;
    }
    .pop-up{
        position: absolute;
        top: -57px;
        left: 50%;
        transform: translate(-50%, 0);
        .btn:link, .btn:visited{
            border-radius: 3rem 3rem 0 0;
        }
    }
    &__gallery{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: #13514C;
        padding: 3rem;
        &--image{
            padding-bottom: 4.5rem;
            position: relative;
            &:nth-last-child(-n+3){
                padding-bottom: 0;
            }
            &:hover{
                -webkit-filter: blur(1px);
                        filter: blur(1px);
                &:before{
                    content: '\e90a';
                    position: absolute;
                    font-size: 5rem;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-family: 'icomoon' !important;
                    color: $primary-color;
                }
            }
            img{
                height: 43.6rem;
                width: 43.6rem;
            }
        } 
    }
}
.about{
    background-color: $primary-color;
    .secondary-heading, .description{
        color: $white;
    }
    .secondary-heading{
        position: relative;
        &:before{
            content:'\e900';
            font-family: 'icomoon' !important;
            position: absolute;
            bottom: 3rem;
            left: 50%;
            transform: translate(-50%, 0);
            font-size: 1.5rem;
        }
    }
    .description{
        text-align: center;
        font-weight: 300;
        font-size: 2.2rem;
    }
}
