header{
    background-color: $primary-color;
    overflow: auto;
}
.header{
    background-image: linear-gradient(90deg,
    $secondary-color, $primary-color);
    margin: 110px  auto;
    padding: 0;
    display: flex;
    &__logo{
        margin: 50px;
        display: inline-block;
    }
    &__content{
        width: 100%;
        margin: 8rem 0 6.4rem;
        &--intro{
            display: flex;
            justify-content: center;
            margin-left: -19.5rem;
            -webkit-animation-name: brustOut;
                    animation-name: brustOut;
            -webkit-animation-duration: 2s;
                    animation-duration: 2s;
            -webkit-animation-timing-function: ease-out;
                    animation-timing-function: ease-out;
            
        }
    }
}
.introduction{
    max-width: 42rem;
    padding-top: 9rem;
    -webkit-animation-name: moveInRight;
            animation-name: moveInRight;
    -webkit-animation-duration: .8s;
            animation-duration: .8s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    &--hi{
        color: #00FEF4;
        font-size: 1.6rem;
        font-weight: 300;
    }
    &--name{
        font-size: 4.2rem;
        color: $white;
        line-height: 1;
    }
    &--highlight{
        text-align: left;
        padding-bottom: 0;
        color: #31C7B0;
        font-size: 3.4rem;
        line-height: 1.2;
    }
    .discription{
        font-size: 1.6rem;
        color: #ABD2CB;
    }
}
.work{
    background-image: linear-gradient(90deg,
    $secondary-color, $primary-color);
    position: relative;
    z-index: 99;
    .heading--secondary{
        color: #fff;
        padding-bottom: 5rem;
    }
    
    .pop-up{
        position: absolute;
        top: -57px;
        left: 50%;
        z-index: 1;
        transform: translate(-50%, 0);
        .btn:link, .btn:visited{
            border-radius: 3rem 3rem 0 0;
        }
    }
    &__gallery{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: #13514C;
        padding: 3rem;
        &--image{
            width: 30%;
            padding-bottom: 3.5rem;
            position: relative;
            &:nth-last-child(-n+3){
                padding-bottom: 0;
            }
            &:hover{
                -webkit-filter: blur(1px);
                        filter: blur(1px);
                &:before{
                    content: '\e90a';
                    position: absolute;
                    font-size: 5rem;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-family: 'icomoon' !important;
                    color: $primary-color;
                }
            }
        } 
    }
}
.about{
    background-color: $primary-color;
    .heading--secondary, .discription{
        color: $white;
    }
    .heading--secondary{
        position: relative;
        &:before{
            content:'\e900';
            font-family: 'icomoon' !important;
            position: absolute;
            bottom: 3rem;
            left: 50%;
            transform: translate(-50%, 0);
            font-size: 1.5rem;
        }
    }
    .discription{
        text-align: center;
        font-weight: 300;
        font-size: 2.2rem;
        letter-spacing: 0.05rem;
    }
}
.skills{
    background-image: linear-gradient(90deg,
                    $secondary-color, $primary-color);
    figure{
        max-width: 40rem;
    }
    &__front, &__design{
        margin: auto;
        display: flex;
        justify-content: center;
    }
    &__front{
        padding-bottom: 4rem;
    }
    &__design{
        flex-direction: row-reverse;
        .discription{
            text-align: right;
        }
    }
    .discription{
        padding: 0 3.5rem;
    }
    &__knowledge li{
        line-height: 1.4;
    }
}
.hello{
    display: flex;
    justify-content: center;
    &__content{
        padding-left: 3.5rem;
        h2{
            padding-bottom: 3rem;
        }
    }
}
.contact{
    background-color: $secondary-color;
    .center{
        padding-bottom: 2rem;
    }
    &__details{
        display: flex;
        justify-content: space-between;
        padding: 2rem 0;
        flex-wrap: wrap;
    }
    &--info{
        display: flex;
        align-items: center;
        .discription{
            padding:0 1.5rem;
            font-size: 1.6rem;
            
        }
        span{
            display: inline-block;
            background: $white;
            height: 60px;
            width: 60px;
            border-radius: 50%;
            position: relative;
            &:before{
                font-size: 2.2rem;
                color:$secondary-color;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
} 
footer.copyright p{
    text-align: center;
    padding: 1rem 0;
    color: $primary-color;
}
@media only screen and (max-width: 1230px){
    .contact{
        &__details{
            padding-left: 15%;
        }
        &--info{
            min-width: 50%;
            padding-bottom: 2rem;
        }
    }
        
}