body {
        font-family: 'Merriweather', serif;
        font-weight: 400;
        // font-size: 16px;
        line-height: 1.7;
        box-sizing: border-box;
    }

.primary-heading{
    font-size: 4.2rem;
    color: $white;
    line-height: 1;
}

.secondary-heading{
    font-size: 3.5rem;
    color: #31C7B0;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
    padding-bottom: 5rem;
}

.description{
    padding-top: 3rem;
    color: #ABD2CB;
    font-size: 1.4rem;
    
}